<section id="secondary-nav">
    <ul class="dynamic-tabs">
        {% comment %} Update section ids and headlines. {% endcomment %}
        <li><a href="#section-id-name1">Section Headline 1</a></li> 
        <li><a href="#section-id-name2">Section Headline 2</a></li>
        <li><a href="#section-id-name3">Section Headline 3</a></li>
        <li><a href="#section-id-name4">Section Headline 4</a></li>
    </ul>
</section>
